USE [HRMDB]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 2023/2/12 15:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Department] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Dictionary]    Script Date: 2023/2/12 15:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Dictionary](
	[Id] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Category] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Dictionary] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 2023/2/12 15:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [uniqueidentifier] NOT NULL,
	[Number] [nvarchar](50) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[BirthDay] [datetime] NOT NULL,
	[InDay] [datetime] NOT NULL,
	[MarriageId] [uniqueidentifier] NOT NULL,
	[PartyId] [uniqueidentifier] NOT NULL,
	[EducationId] [uniqueidentifier] NOT NULL,
	[GenderId] [uniqueidentifier] NOT NULL,
	[DepartmentId] [uniqueidentifier] NOT NULL,
	[Telephone] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](250) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Remarks] [nvarchar](max) NULL,
	[Resume] [nvarchar](max) NULL,
	[Photo] [image] NULL,
	[Nation] [nvarchar](50) NOT NULL,
	[NativePlace] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OperationLog]    Script Date: 2023/2/12 15:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OperationLog](
	[Id] [uniqueidentifier] NOT NULL,
	[OperatorId] [uniqueidentifier] NOT NULL,
	[ActionDate] [datetime] NOT NULL,
	[ActionDesc] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_OperationLog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Operator]    Script Date: 2023/2/12 15:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Operator](
	[Id] [uniqueidentifier] NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[RealName] [nvarchar](50) NOT NULL,
	[IsLocked] [bit] NOT NULL,
	[IsAdmin] [bit] NOT NULL,
 CONSTRAINT [PK_Operator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalarySheet]    Script Date: 2023/2/12 15:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalarySheet](
	[Id] [uniqueidentifier] NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[DepartmentId] [uniqueidentifier] NOT NULL,
 CONSTRAINT [PK_SalarySheet] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalarySheetItem]    Script Date: 2023/2/12 15:29:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalarySheetItem](
	[Id] [uniqueidentifier] NOT NULL,
	[SheetId] [uniqueidentifier] NOT NULL,
	[EmployeeId] [uniqueidentifier] NOT NULL,
	[BaseSalary] [money] NOT NULL,
	[Bonus] [money] NOT NULL,
	[Fine] [money] NOT NULL,
	[Other] [money] NOT NULL,
 CONSTRAINT [PK_SalarySheetItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Department] ([Id], [Name]) VALUES (N'6c4bf5ea-4309-41b2-b770-55b3256eb9dd', N'学生工作部')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (N'17a56aa9-f5f8-40c4-ad86-55dde2c298a0', N'人力资源部')
INSERT [dbo].[Department] ([Id], [Name]) VALUES (N'f2fcbdb1-562c-4367-95d9-5d50f0989133', N'行政部')
INSERT [dbo].[Dictionary] ([Id], [Name], [Category]) VALUES (N'010f2847-dfbe-497a-b0cb-365f3c594264', N'专科', N'学历')
INSERT [dbo].[Dictionary] ([Id], [Name], [Category]) VALUES (N'f0e73f7a-aae0-49c5-b556-4c198ab54312', N'本科', N'学历')
INSERT [dbo].[Dictionary] ([Id], [Name], [Category]) VALUES (N'ccd51b95-b8c0-494b-8613-549127777df6', N'未婚', N'婚姻状况')
INSERT [dbo].[OperationLog] ([Id], [OperatorId], [ActionDate], [ActionDesc]) VALUES (N'6ea14b26-661c-42be-b687-00250d622f4a', N'00000000-0000-0000-0000-000000000000', CAST(N'2015-07-09T14:21:03.437' AS DateTime), N'登录用户名不存在！')
INSERT [dbo].[OperationLog] ([Id], [OperatorId], [ActionDate], [ActionDesc]) VALUES (N'98c789d4-44d9-43b7-ae4a-01a8b2ac608e', N'3a9a2894-f9f6-4ffe-b8e6-a67e949f276c', CAST(N'2015-07-16T15:12:15.303' AS DateTime), N'登录成功')
INSERT [dbo].[OperationLog] ([Id], [OperatorId], [ActionDate], [ActionDesc]) VALUES (N'4faab870-f66a-4cd5-a35b-09fadc3eac41', N'3a9a2894-f9f6-4ffe-b8e6-a67e949f276c', CAST(N'2015-07-11T14:48:38.957' AS DateTime), N'登录成功')
GO
INSERT [dbo].[Operator] ([Id], [UserName], [Password], [IsDeleted], [RealName], [IsLocked], [IsAdmin]) VALUES (N'3a9a2894-f9f6-4ffe-b8e6-a67e949f276c', N'admin', N'202cb962ac59075b964b07152d234b70', 0, N'张三', 0, 0)
INSERT [dbo].[SalarySheet] ([Id], [Year], [Month], [DepartmentId]) VALUES (N'4c4405ec-7ff1-41ae-ba7e-7ec4357931a9', 2015, 7, N'6c4bf5ea-4309-41b2-b770-55b3256eb9dd')
INSERT [dbo].[SalarySheet] ([Id], [Year], [Month], [DepartmentId]) VALUES (N'65c7074c-08b8-4158-ab59-f77cf2a3c3e9', 2015, 7, N'7c444dbb-8f93-460f-b113-8ad1df6876d1')
INSERT [dbo].[SalarySheetItem] ([Id], [SheetId], [EmployeeId], [BaseSalary], [Bonus], [Fine], [Other]) VALUES (N'd52dc14b-8365-4eb5-8a8a-7c9b8966cfd3', N'65c7074c-08b8-4158-ab59-f77cf2a3c3e9', N'06fac891-19fc-454e-8ca6-f10cdab7540a', 6000.0000, 3000.0000, 1000.0000, 1500.0000)
INSERT [dbo].[SalarySheetItem] ([Id], [SheetId], [EmployeeId], [BaseSalary], [Bonus], [Fine], [Other]) VALUES (N'273dbb38-5320-4edd-854e-d92acbd8b8e1', N'4c4405ec-7ff1-41ae-ba7e-7ec4357931a9', N'57f2acc6-a412-4556-88ea-ab7e2ec23789', 1500.0000, 500.0000, 200.0000, 600.0000)
ALTER TABLE [dbo].[Operator] ADD  DEFAULT ((0)) FOR [IsAdmin]
GO
